.chat {
  display: flex;
  flex-direction: column;
  flex: 0.75;
  background-color: #363a3f;
  height: 100vh;
}

.chat__input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: lightgray;
  padding: 15px;
  border-radius: 5px;
  border-top: 1px solid gray;
  background-color: #474b53;
}

.chat__input > form > input {
  padding: 15px;
  background: transparent;
  border: none;
  outline-width: 0;
  color: white;
  font-size: large;
  width: 100%;
}

.chat__input > form {
  flex: 1;
}

.chat__inputbtn {
  display: none;
}

.chat__inputicons > .MuiSvgIcon-root {
  padding: 5px;
}

.chat__messages {
  flex: 1;
}
